/* app global css */
body {
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.my_card {
  width: 25rem;
  border-radius: 8px;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.my_card_3 {
  width: auto;
  border-radius: 8px;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.backdrop-blur {
  backdrop-filter: blur(5px);
  /* background-color: rgba(204, 199, 199, 0.4); */
  /* opacity: 5; */
}
.max-out {
  width: max-content;
}
.container {
  width: 100%;
}
.h-full {
  height: 100%;
}
hr {
  border-top-width: 0.5px;
  border-color: 'red';
  opacity: 1;
}
.isDisable {
  background-color: gray;
  color: aliceblue;
}

.isEnable {
  background-color: rgb(30, 69, 153);
  color: aliceblue;
}

.flex-grow {
  flex-grow: 1;
  flex: 1;
}
.card-img {
  width: 6rem;
  height: 6rem;
  /* top: 2rem; */
  position: relative;
}
.title {
  font-size: 2.125rem;
  font-weight: 400;
  text-align: end;
  line-height: 3rem;
}
.head-title {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  padding: 0;
}
.move {
  position: relative;
  top: -2.5rem;
}
.my_card_2 {
  width: auto;
  height: auto;
  border-color: #0b76e0;
  border-width: 3rem;
}
.h-50 {
  min-height: 10%;
}
.w-50 {
  min-width: 10%;
}

.onboard-content {
  animation: fadeIn 2s ease-in-out;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  opacity: 0;
  transition: opacity 0.5s;
}
.onboard-content.fade {
  opacity: 1;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.messages {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.indicators {
  margin-top: 20px;
}

.indicator {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: #ddd;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #03a9f4;
}

.footer-animate {
  opacity: 0;
  animation: punchIn 0.5s ease-in-out forwards;
}

@keyframes punchIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}
.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.custom-input ::placeholder {
  color: #aaa;
}
.custom-input .q-field__control {
  color: #333;
}

.bg-cust-dark {
  background-image: url('../assets/img/main/back.svg');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-cust-white {
  background-color: rgb(212, 246, 255);
  /* background-image: url('../assets/img/main/back-light.svg'); */
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-card1 {
  background-color: rgba(41, 62, 109); /* Deep Royal Blue */
}
.bg-card2 {
  background-color: #ffa065; /* Bright Red */
}
.bg-card3 {
  background-color: #ffcc00; /* Warm Yellow */
}
.bg-card4 {
  background-color: #365ea1; /* Vibrant Green */
}
